<div>

    <div class="my-2 w-25">
        <label for="" class="my-1">Categories :</label>
        <select class="form-control">
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
            <option value="4">option 4</option>
        </select>
    </div>

    <div>
        <ul>
            <li *ngFor="let product of products">{{ product.title }}</li>
        </ul>
    </div>


  
    <!-- <div class="row">
        <div class="col-md-3 col-sm-12" *ngFor="let product of products">
            <div>
                <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{product.title}}</div>
                    <div class="card-body">
                        <h5 class="card-title">Cart description</h5>
                        <div class="d-flex flex-row justify-content-between">
                            <button class="btn btn-success">Add To Card</button>
                            <p>50$</p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div> -->
    
</div>
